<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{_('Czech blacklist')}}">
    <meta name="keywors" content="{{_('czech blacklist, bureš, censorship, český blacklist, api, mfcr')}}">
    <meta name="author" content="Adam Schubert">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <title>{{_('Czech blacklist')}}</title>

    <!-- Bootstrap core CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='node_modules/font-awesome/css/font-awesome.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='node_modules/ekko-lightbox/dist/ekko-lightbox.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home_index.get_home') }}">Czech Blacklist</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for item in g.menu_items %}
                    <li class="{{ 'active' if False else '' }}">
                        <a href="{{url_for(item[1])}}">{{item[0]}}</a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if g.last_crawled_pdf %}
                <li><a>{{_('Last crawl:')}} {{g.last_crawled_pdf.updated|format_datetime}}</a></li>
                {% endif %}

                {% if g.last_data_update_pdf %}
                <li><a>{{_('Last blacklist update:')}} {{g.last_data_update_pdf.created|format_datetime}}</a></li>
                {% endif %}
                <li>
                {% if current_user.is_authenticated %}
                        <a href="{{url_for('sign_index.logout')}}" data-confirm-message="Are you sure you want to log out ?" class="confirm bg-danger">Logged as {{current_user.username}} (Log out)</a>
                {% else %}
                    <a href="{{url_for('sign_index.login')}}">Log in</a>
                {% endif %}
                </li>
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container {{layout}}">
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{category}}">{{ message |safe}}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
<!-- /container -->

<footer class="footer">
  <div class="container">
      <div class="text-muted text-center">
          <ul>
              <li>
                  <a href="https://www.jakobejitblokaci.cz/">https://www.jakobejitblokaci.cz/</a>
              </li>
              <li>
                  © <a href="https://www.salamek.cz">www.salamek.cz</a>
              </li>
              <li>
                  <a href="https://github.com/Salamek/blacklist">
                    GitHub
                  </a>
              </li>
          </ul>
      </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/ekko-lightbox/dist/ekko-lightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>
