from datetime import timedelta

class Blacklist(object):
    DEBUG = True  # Debug mode
    LOG_FILE = './logs/app.log'
    SQLALCHEMY_DATABASE_URI = ''  # Database configuration
    SECRET_KEY = 'extreamly_secret_flask_key+dfsdfgh'
    CELERY_BROKER_URL='redis://localhost:6379',
    CELERY_RESULT_BACKEND='redis://localhost:6379'
    CELERY_IMPORTS = ('tasks',)
    THUMBNAIL_FOLDER = 'static/img/thumbnails'

    BLACKLIST_SOURCE = 'http://www.mfcr.cz/assets/cs/media/Zverejnovane-udaje-ze-Seznamu-nepovolenych-internetovych-her_v1.pdf'
    PDF_STORAGE = 'static/pdf'

    CELERYBEAT_SCHEDULE = {
        'crawl_blacklist-every-12-hours': {
            'task': 'tasks.crawl_blacklist',
            'schedule': timedelta(hours=12)
        },
    }
