{% extends "layout.html" %}
{% block body %}
{% from 'macros.html' import render_pagination %}

<h1>{{ _('Blacklist editor') }}</h1>

<a class="btn btn-success" href="{{url_for('blacklist.new_blacklist')}}"><i class="fa fa-plus" aria-hidden="true"></i> {{ _('Add') }}</a>

<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>{{ _('Dns') }}</th>
        <th>{{ _('Date') }}</th>
        <th>{{ _('Bank account') }}</th>
        <th>{{ _('Note') }}</th>
        <th>{{ _('Updated') }}</th>
        <th>{{ _('Created') }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for item in pagination.items %}
    <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.dns}}</td>
        <td>{{item.date}}</td>
        <td>{{item.bank_account}}</td>
        <td>{{item.note}}</td>
        <td>{{item.updated|format_datetime}}</td>
        <td>{{item.created|format_datetime}}</td>
        <td>
            <a class="btn btn-xs btn-primary" href="{{url_for('blacklist.edit_blacklist', blacklist_id=item.id)}}"><i class="fa fa-pencil" aria-hidden="true"></i> {{ _('Edit') }}</a>
            {% if not item.data %}
                <a class="btn btn-xs btn-danger confirm" data-confirm-message="{{_('Are you sure you want to delete this blacklist item ?')}}" href="{{url_for('blacklist.delete_blacklist', blacklist_id=item.id)}}"><i class="fa fa-trash" aria-hidden="true"></i> {{ _('Delete') }}</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="text-center">
{{render_pagination(pagination)}}
</div>
{% endblock %}
