<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{name}}">
    <meta name="author" content="Adam Schubert">


    <title>Blacklist</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Orbitron|Lobster|Indie+Flower' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('bower.static', filename='eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<a href="https://github.com/Salamek/blacklist"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1000" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
<!-- Fixed navbar -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home.get_home') }}">Czech Blacklist</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for item in nav.top %}
                    <li class="{{ 'active' if item.is_active else '' }}">
                        <a href="{{ item.url }}">{{item.label}}</a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if g.last_crawled_pdf %}
                <li><a>{{_('Last crawl:')}} {{g.last_crawled_pdf.updated|format_datetime}}</a></li>
                {% endif %}

                {% if g.last_data_update_pdf %}
                <li><a>{{_('Last blacklist update:')}} {{g.last_data_update_pdf.created|format_datetime}}</a></li>
                {% endif %}
                <li>
                {% if current_user.is_authenticated %}
                        <a href="{{url_for('user.logout')}}" data-confirm-message="Are you sure you want to log out ?" class="confirm bg-danger">Logged as {{current_user.username}} (Log out)</a>
                {% else %}
                    <a href="{{url_for('user.login')}}">Log in</a>
                {% endif %}
                </li>
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container {{layout}}">
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{category}}">{{ message |safe}}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
<!-- /container -->

<footer class="footer">
      <div class="container">
          <p class="text-muted text-center">© <a href="https://www.salamek.cz">www.salamek.cz</a></p>
      </div>
    </footer>

<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2g9pjN5Lv1ObrK4SH5zuhljSCwV5sAxo"></script>
<script src="{{ url_for('bower.static', filename='moment/min/moment.min.js') }}"></script>
<script src="{{ url_for('bower.static', filename='eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>
