[Unit]
Description=Blacklist Service Celery worker
Requires=network.target

[Service]
User=blacklist
Type=simple
Restart=on-failure
RemainAfterExit=no
RestartSec=5s
ExecStart=/usr/bin/blacklist celeryworker --config_prod

[Install]
WantedBy=multi-user.target
