[Unit]
Description=Blacklist Web Service Celery beat
Requires=network.target

[Service]
User=blacklist
Type=simple
Restart=on-failure
RemainAfterExit=no
RestartSec=5s
ExecStart=/usr/bin/blacklist celerybeat --config_prod --pid=${HOME}/celerybeat.pid --schedule=${HOME}/celery_beat.db

[Install]
WantedBy=multi-user.target
