[Unit]
Description=Blacklist Web Service
Requires=network.target

[Service]
User=blacklist
Type=simple
Restart=on-failure
RemainAfterExit=no
RestartSec=5s
ExecStart=/usr/bin/blacklist server --config_prod --log_dir /home/blacklist

[Install]
WantedBy=multi-user.target
