[Unit]
Description=Blacklist Web Service Celery beat
Requires=network.target

[Service]
User=blacklist
Type=simple
Restart=on-failure
RemainAfterExit=yes
ExecStart=/usr/bin/blacklist celerybeat --config_prod

[Install]
WantedBy=multi-user.target
